<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Simple TV</title>
    </head>
    <body>

        <div id="tv">
            <div v-if="!signal" class="off"></div>
            <div v-if="signal" class="on"></div>
            <div class="controls">
                <button v-if="signal" v-on:click="toggle" id="on">{{state[0]}}</button>
                <button v-else v-on:click="toggle" id="off">{{state[1]}}</button>
            </div>
        </div>

        <script src="/js/vue.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>