.off {
    height: 80vh;
    width: 70%;
    background-color: black;
    border: 12px rgb(59, 63, 71) solid;
    margin: auto;
}

.on {
    height: 80vh;
    width: 70%;
    background-image: url(/display.gif);
    background-size: cover;
    border: 12px rgb(59, 63, 71) solid;
    margin: auto;
}

button {
    margin-left: 80%;
}

#on {
    background-color: red;
}

#off {
    background-color: green;
}